#left-symbol{
  position: absolute;
  left: 440px;
  top: 70px;
}

#right-symbol{
  position: absolute;
  left: 310px;
  top: 70px;
}

.overlay-image{
  position:absolute;
  left: 300px;
  top: 70px;
  height: 500px;
  width: 190px;
  opacity: 0.5;
}

div.displayed-symptoms{
  position:absolute;
  top:30px;
  left: 72%;
  width: 200px;
}

.symptoms{
  max-height: 240px;
  overflow-y: auto;
}

.joints{
  max-height: 290px;
  overflow-y: auto;
}

div.user-options{
  position:absolute;
  top:305px;
  left: 72%;
  width: 150px;
  height: 100px;
}

.skeleton{
  position:absolute;
  top: 50px;
  left:12%;
}

div.drawn-head{
  background-color: green;
  border-radius: 110px;
  position: absolute;
  border-style: none;
  border-width: medium;
  border-color:black;
  width: 70px;
  height: 90px;
  top: 70px;
  left: 362px;
}

div.drawn-neck{
  background-color: green;
  border-radius: px;
  position: absolute;
  border-style: solid;
  border-width: medium;
  border-color:black;
  width: 44px;
  height: 35px;
  top: 134px;
  left: 351px;
}

div.drawn-eye-left{
  background-color: green;
  border-radius: 15px;
  border-style: solid;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 85px;
  left: 400px;
}

div.drawn-eye-right{
  background-color: green;
  border-radius: 15px;
  border-style: solid;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 85px;
  left: 365px;
}

div.drawn-mouth{
  background-color: green;
  border-radius: 0px;
  border-style: solid;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 25px;
  height: 10px;
  top: 130px;
  left: 384px;
}

div.drawn-upper-arm-right{
  background-color: green;
  border-radius: 30px;
  border-style: none;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 35px;
  height: 90px;
  top: 166px;
  left: 305px;
}

div.drawn-lower-arm-right{
  background-color: green;
  border-radius: 30px;
  border-style: none;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 25px;
  height: 65px;
  top: 250px;
  left: 310px;
}

div.drawn-hand-right{
  background-color: green;
  border-radius: 10px;
  border-style: none;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 20px;
  height: 30px;
  top: 310px;
  left: 313px;
}


div.drawn-upper-arm-left{
  border-radius: 30px;
  border-style: none;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 35px;
  height: 90px;
  top: 166px;
  left: 450px;
}

div.drawn-lower-arm-left{
  border-radius: 30px;
  border-style: none;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 25px;
  height: 65px;
  top: 250px;
  left: 455px;
}

div.drawn-hand-left{
  border-radius: 10px;
  border-style: none;
  border-width: medium;
  border-color:black;
  position: absolute;
  width: 20px;
  height: 30px;
  top: 310px;
  left: 458px;
}

div.drawn-body-left{
  background-color: green;
  border-style: none;
  border-width: medium;
  border-color:black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right-style: solid;
  position: absolute;
  width: 50px;
  height: 175px;
  top: 166px;
  left: 345px;
}

div.drawn-body-right{
  background-color: green;
  border-style: none;
  border-width: medium;
  border-color:black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  width: 50px;
  height: 175px;
  top: 166px;
  left: 395px;
}

div.drawn-upper-leg-right{
  border-style: none;
  border-width: medium;
  border-color:black;
  background-color: green;
  border-radius: 50px;
  position: absolute;
  width: 30px;
  height: 115px;
  top: 345px;
  left: 360px;
}

div.drawn-lower-leg-right{
  border-style: none;
  border-width: medium;
  border-color:black;
  background-color: green;
  border-radius: 50px;
  position: absolute;
  width: 25px;
  height: 80px;
  top: 454px;
  left: 362px;
}

div.drawn-foot-right{
  border-style: none;
  border-width: medium;
  border-color:black;
  background-color: green;
  border-radius: 50px;
  position: absolute;
  width: 25px;
  height: 15px;
  top: 534px;
  left: 362px;
}

div.drawn-upper-leg-left{
  border-style: none;
  border-width: medium;
  border-color:black;
  background-color: yellow;
  border-radius: 50px;
  position: absolute;
  width: 30px;
  height: 115px;
  top: 345px;
  left: 398px;
}

div.drawn-lower-leg-left{
  border-style: none;
  border-width: medium;
  border-color:black;
  background-color: yellow;
  border-radius: 50px;
  position: absolute;
  width: 25px;
  height: 80px;
  top: 454px;
  left: 398px;
}

div.drawn-foot-left{
  border-style: none;
  border-width: medium;
  border-color:black;
  background-color: yellow;
  border-radius: 50px;
  position: absolute;
  width: 25px;
  height: 15px;
  top: 534px;
  left: 398px;
}



.canvas-div {
  width: 100%;
  height: 620px;
  background-image: url("/img/body-ref3.jpg");
  background-size: 700px 600px;
}

.canvas-div2 {
  width: 100%;
  height: 720px;
  background-size: 700px 600px;
  background-color: white;
}

.chart-div{
  position: absolute;
  top: 550px;
  height: 210px;
  width: 96%;
}

.kinect-video{
  position: absolute;
}

#player{
  top: 500px;
}

.displayReading{
  position: absolute;
  top:190px;
  left: 5%;
}

.displayNote{
  position: absolute;
  top:100px;
  left: 500px;
}

.closeChart{
  top: 5px;
  width: 95%;
  position: relative;
}

.hideNodes{
  top: 0px;
  width: 95%;
  position: relative;
}

.showNodes{
    top: 0px;
    width: 95%;
    position: relative;
}

.switchChart{
  position: relative;
  width: 95%;
  top: 5px;
  margin-top: 5px;
}
/* Tooltip text */
div.node .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Tooltip text */
div.node .tooltiptextleft {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

div.node:hover .tooltiptext {
  visibility: visible;
}

div.node:hover .tooltiptextleft {
  visibility: visible;
}

/* .chart-div{
  background-color: purple;
  position: absolute;
  top: 500px;
  height: 200px;
  width: 650px;
  overflow: scroll;
}

.ct-chart{
  height: 190px;
  width: 15000px;
  border:1px dotted #ccc;
  background-color: #ccc;
} */

div.node{
  background-color: black;
  border-radius: 50px;
  position: absolute;
  width: 25px;
  height: 25px;

}

div.square{
  border: solid black 2px;
  margin: 5px 10px 0 0 ;
  float:left;
  width: 15px;
  height: 15px;

}

div.node:hover{
  background-color: white;
  border-radius: 50px;
  position: absolute;
  width: 30px;
  height: 30px;

}

/* @media (min-width:1200px){ */
  div.head{
    top: 40px;
    left: 288px;
  }

  div.neck{
    top: 80px;
    left: 288px;
  }

  div.shoulderLeft{
    top: 100px;
    left: 245px;
  }

  div.shoulderRight{
    top: 100px;
    left: 330px;
  }

  div.elbowLeft{
    top: 165px;
    left: 235px;
  }

  div.elbowRight{
    top: 165px;
    left: 340px;
  }

  div.wristLeft{
    top: 235px;
    left: 225px;
  }

  div.wristRight{
    top: 235px;
    left: 350px;
  }

  div.spine{
    top: 165px;
    left: 288px;
  }

  div.hip{
    top: 225px;
    left: 288px;
  }

  div.kneeLeft{
    top: 340px;
    left: 265px;
  }

  div.kneeRight{
    top: 340px;
    left: 310px;
  }

  div.ankleLeft{
    top: 430px;
    left: 265px;
  }

  div.ankleRight{
    top: 430px;
    left: 310px;
  }
/* } */

/* @media (min-width:1400px){
  div.head{
    top: 90px;
    left: 47.5%;
  }

  div.neck{
    top: 130px;
    left: 47.5%;
  }

  div.shoulderLeft{
    top: 150px;
    left: 53%;
  }

  div.shoulderRight{
    top: 150px;
    left: 42%;
  }

  div.elbowLeft{
    top: 215px;
    left: 54%;
  }

  div.elbowRight{
    top: 215px;
    left: 41%;
  }

  div.wristLeft{
    top: 285px;
    left: 55.5%;
  }

  div.wristRight{
    top: 285px;
    left: 39.5%;
  }

  div.spine{
    top: 200px;
    left: 47.5%;
  }

  div.hip{
    top: 270px;
    left: 47.5%;
  }

  div.kneeLeft{
    top: 390px;
    left: 50%;
  }

  div.kneeRight{
    top: 390px;
    left: 45%;
  }

  div.ankleLeft{
    top: 480px;
    left: 50%;
  }

  div.ankleRight{
    top: 480px;
    left: 45%;
  }
} */
